# Development
VITE_API_URL=http://localhost:3001
VITE_APP_ENV=development

# Beta
# VITE_API_URL=https://api.beta.scriptcheck.co.za
# VITE_APP_ENV=beta

# Production
# VITE_API_URL=https://api.scriptcheck.co.za
# VITE_APP_ENV=production
